.article {
    width: 510px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    margin-bottom: 20px;
    margin-right: 20px;

    display: flex;

    &__date {
        flex-shrink: 0;

        height: 67px;
        width: 45px;

        margin-right: 20px;

        &-day {
            height: 42px;
            width: 100%;

            background-color: #e8524d;

            font-size: 24px;
            line-height: 35px;
            text-decoration: dotted underline;
            color: #ffffff;
            text-align: center;

            p {
                margin: 0;
            }
        }
        &-month {
            height: 25px;
            width: 100%;

            background-color: #000000;

            @include font-Verdana();
            font-size: 13px;
            line-height: 22px;
            text-decoration: dotted underline;
            color: #ffffff;
            text-align: center;

            p {
                margin: 0;
            }
        }
    }
    &__content {
        &-header {
            display: block;

            margin-bottom: 16px;

            a {
                text-decoration: none;
                font-size: 26px;
                line-height: 32px;
                color: #000000;
                
                transition: all 0.2s ease-out;
                &:hover {
                    color: #ea2e0d;
                }
            }
        }
        &-text {
            display: block;

            margin: 0;
            padding: 0;

            @include font-Verdana();
            @include font-alt-color();
            font-size: 13px;
            line-height: 20px;
        }
    }
}