.feature-slide {
    max-width: 100%;
    height: 400px;

    position: relative;
    overflow: hidden;

    &__description {
        position: absolute;
        z-index: 1;

        height: 100px;
        width: 200px;

        border: 1px solid #e0e0e0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;

            text-align: center;

            color: #ffffff;
        }

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: #e0e0e0;
            opacity: 0.2;
        }
    }

    &__image {
        position: relative;
        z-index: 0;

        filter: grayscale(100%);

        width: 100%;
        height: 100%;
        background-size: 1170px;
    }
}

.--description-boss {
        bottom: 25%;
        left: 15%;
}
.--image-boss {
    background: url(../img/features-slider/boss.jpg) top no-repeat;
    background-size: cover;
}



.--description-money {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    border: 1px solid #0f0f0f;

    p {
        color: #000000;
    }
}
.--image-money {
    background: url(../img/features-slider/earnings.jpg) center no-repeat;
    background-size: cover;
}



.--description-people {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    width: 300px;
}
.--image-people {
    background: url(../img/features-slider/team.jpg) center no-repeat;
    background-size: cover;
}