.feature-slide {
    max-width: 100%;
    height: 400px;

    position: relative;
    overflow: hidden;

    &__description {
        position: absolute;
        z-index: 1;

        height: 100px;
        width: 200px;

        border: 1px solid #e0e0e0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;

            text-align: center;

            color: #000000;
        }

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: #e0e0e0;
            opacity: 0.2;
        }
    }

    &__image {
        position: relative;
        z-index: 0;

        filter: grayscale(50%);

        width: 100%;
        height: 100%;
        background-size: 1170px;
    }
}

.--description-boss {
        bottom: 25%;
        left: 15%;
}


.--image-individual {
    background: url(../img/features-slider/individual.jpg) center no-repeat;
    background-size: cover;
}


.--image-money {
    background: url(../img/features-slider/money.jpg) center no-repeat;
    background-size: cover;
}


.--image-result {
    background: url(../img/features-slider/result.jpg) bottom no-repeat;
    background-size: cover;
}


.--image-objective {
    background: url(../img/features-slider/objective.jpg) center no-repeat;
    background-size: cover;
}


.--image-risk {
    background: url(../img/features-slider/risk.jpg) center no-repeat;
    background-size: cover;
}


.--image-experience {
    background: url(../img/features-slider/experience.jpg) center no-repeat;
    background-size: cover;
}