.feedback-slide-wrapper {
    padding: 0 50px;
}

.feedback-slide {
    max-width: 400px;

    margin: 0 auto;

    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;

    padding: 20px;

    &-top {
        @include font-Verdana();
        @include font-alt-color();
        font-size: 13px;
        line-height: 20px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
            margin-bottom: 15px;
        }
    }

    &-bottom {
        @include font-Playfair-Display();
        color: #000000;
        font-size: 16px;
        line-height: 22px;

        p {
            margin: 0;
        }
    }
}