// VARS

// MIXINS
@mixin font-Playfair-Display {
    font-family: 'Playfair Display', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

@mixin font-Verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@mixin font-alt-color {
    color: #7e7e7e;
}

@mixin font-link-color {
    color: #e8524d;
}

// GLOBALS
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @include font-Playfair-Display();
    color: #000000;
}

.container {
    max-width: 1190px;

    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header-text {
    font-size: 20px;
    line-height: 28px;

    margin: 0;
}

@import 'visually-hidden.scss';


// HEADER
.header {
    background-color: #ffffff;
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            font-size: 20px;
            line-height: 28px;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                p {
                    margin: 0;
                    padding: 0;
                    color: #000000;

                    span {
                        color: #e8524d;
                    }
                }
            }
        }
        &-menu {
            ul {
                margin: 0;
                padding: 0;

                display: flex;
            }
            &__item {
                list-style: none;

                padding-top: 28px;
                padding-bottom: 29px;
                padding-left: 25px;
                padding-right: 25px;
                
                a {
                    position: relative;
                    text-decoration: none;
                    color: inherit;
                    font-size: 16px;
                    line-height: 20px;

                    transition: color 0.2s ease-in-out;

                    &::after {
                        content: '';
                        width: 0px;
                        height: 2px;
                        background-color: #e8524d;
                        border-radius: 20%;
    
                        position: absolute;
                        bottom: -28px;
                        left: 50%;
                        transform: translateX(-50%);

                        transition: all 0.1s ease-in;
                    }

                    &:hover {
                        @include font-link-color();
                        &::after {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}

.nav-selected {
    a {
        color: #e8524d;
        &::after {
            content: '';
            width: 50px;
            height: 2px;
            background-color: #e8524d;
            border-radius: 20%;

            position: absolute;
            bottom: -28px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// FEATURES-SLIDER
.features-slider {
    background-color: #7e7e7e;

    height: 400px;

    &-items {}
}
@import 'features-slide.scss';
@import 'features-slider-buttons.scss';

// SERVICES
.services {
    margin-top: 20px;
    margin-bottom: 20px;
    &-header {}
    &-items {
        display: flex;
        justify-content: space-between;
    }
}
@import 'service.scss';

// TEAM
.team {
    &-header {
        margin-bottom: 20px;

        text-align: center;

        h2 {
            padding: 0;
            margin: 0;
        }
    }
    &-items {
        display: flex;
        justify-content: center;
    }
}
@import 'team-member.scss';

// CLIENTS
.clients {
    margin-bottom: 20px;
    &-header {}
    &-slider {
        &-items {
            display: flex;
            &__slide {
                height: 106px;
                width: 205px;

                padding: 0 20px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// ARTICLES
.articles {
    &-header {
        margin-bottom: 20px;

        text-align: center;

    }
    &-items {
        display: flex;
        justify-content: center;
    }
}
@import 'article.scss';

// FEEDBACK
.feedback {
    margin-bottom: 20px;
    &-header {
        text-align: center;
    }
    &-items {
        &-slider {
            &__item {}
        }
    }
}

// FOOTER
.footer {
    background-color: #000000;
    &-items {
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__logo {
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    font-size: 20px;
                    line-height: 28px;
    
                    p {
                        margin: 0;
                        padding: 0;
                        color: #ffffff;
    
                        span {
                            color: #e8524d;
                        }
                    }
                }
            }
        }
        &-middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__social-icons {
                a {
                    text-decoration: none;

                    margin-right: 20px;
                }

                .svg-social {
                    height: 40px;

                    transition: all 0.2s ease-in;

                    fill: #7e7e7e;

                    &:hover {
                        fill: #e8524d;
                    }
                }
            }
        }
        &-right {
            &__address {
                @include font-Verdana();
                @include font-alt-color();
                font-size: 12px;
                line-height: 18px;

                padding-left: 25px;
                margin-top: 20px;
                
                p {
                    margin: 0;
                    margin-bottom: 20px;
                }

                a {
                    display: inline-block;

                    text-decoration: none;
                    color: inherit;

                    margin-bottom: 20px;
                }

                .location {
                    position: relative;
                    &::before {
                        content: '';
                        width: 18px;
                        height: 20px;

                        position: absolute;
                        top: 0;
                        left: -25px;
                        background: url(../img/icons/map-marker-alt-solid.svg) no-repeat center;
                    }
                }

                .phone {
                    position: relative;
                    &::before {
                        content: '';
                        width: 18px;
                        height: 20px;

                        position: absolute;
                        top: 0;
                        left: -25px;
                        background: url(../img/icons/phone-solid.svg) no-repeat center;
                    }
                }

                .email {
                    position: relative;
                    &::before {
                        content: '';
                        width: 18px;
                        height: 20px;

                        position: absolute;
                        top: 0;
                        left: -25px;
                        background: url(../img/icons/envelope-solid.svg) no-repeat center;
                    }
                }
            }
        }
    }
}

// SECTION SEPARATOR
@import 'section-separator.scss';